/* base & reset */
body {
  background: #e7ebf2;
  color: #666;
}
/* timeline block css */
.tl-clear:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.tl-clear {
  *zoom: 1;
}
.tl-container {
  width: 800px;
  margin: 0 auto;
}
.tl-container ul,
.tl-container ol,
.tl-container li,
.tl-container p {
  margin: 0;
  list-style: none;
}
.tl-container .tl-block {
  padding: 0;
}
.tl-container .tl-block .tl-hd {
  text-align: center;
}
.tl-container .tl-block .tl-hd h3 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0;
  padding: 4px 12px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  background: #a9b5d3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.tl-container .tl-block .tl-bd {
  position: relative;
  padding: 10px 0 20px;
}
.tl-container .tl-block .tl-bd .tl-spine {
  position: absolute;
  left: 50%;
  top: 0;
  width: 3px;
  height: 100%;
  margin-left: -1.5px;
  background: #c3ccdf;
}
.tl-container .tl-block .tl-bd .tl-spine a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: none;
}
.tl-container .tl-block .tl-bd .tl-spine a i {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: absolute;
  left: -6px;
  top: 0;
  width: 15px;
  height: 21px;
  background: transparent url(../img/icons.png) no-repeat -132px -31px;
  visibility: hidden;
}
.tl-container .tl-block .tl-bd .tl-spine a:hover i {
  visibility: visible;
}
.tl-container .tl-block .tl-bd .tl-unit {
  position: relative;
  /* custom style */

}
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-content {
  padding: 3px;
  border: 1px solid #97a4c2;
  margin-bottom: 10px;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-arrow,
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-bullet {
  visibility: hidden;
}
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-arrow,
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-arrow i {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: absolute;
  border-top: 6px dashed transparent;
  border-bottom: 6px dashed transparent;
  width: 0;
  height: 0;
  font-size: 0;
}
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-arrow i {
  top: -6px;
  border-width: 6px;
}
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-bullet {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: absolute;
  width: 9px;
  height: 9px;
  background: #a9b5d3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-custom .title,
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-custom .pic,
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-custom .desc {
  margin: 0 10px 10px;
}
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-custom .title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  padding: 6px 0;
  color: #a9b5d3;
  border-bottom: 1px solid #E5E5E5;
}
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-custom .pic {
  text-align: center;
}
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-custom .meta {
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
  background: #EDEFF4;
  overflow: hidden;
}
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-custom .meta span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-custom .meta span.dot {
  position: relative;
  top: 4px;
  font-family: "Arial";
  margin: 0 4px;
}
.tl-container .tl-block .tl-bd .tl-unit-2,
.tl-container .tl-block .tl-bd .tl-unit-1 {
  float: left;
}
.tl-container .tl-block .tl-bd .tl-unit-2 .tl-unit-arrow,
.tl-container .tl-block .tl-bd .tl-unit-1 .tl-unit-arrow,
.tl-container .tl-block .tl-bd .tl-unit-2 .tl-unit-bullet,
.tl-container .tl-block .tl-bd .tl-unit-1 .tl-unit-bullet {
  visibility: visible;
}
.tl-container .tl-block .tl-bd .tl-unit-1 {
  width: 385px;
}
.tl-container .tl-block .tl-bd .tl-unit-1 .tl-unit-arrow,
.tl-container .tl-block .tl-bd .tl-unit-1 .tl-unit-arrow i {
  border-right: none;
  border-left: 6px solid #97a4c2;
}
.tl-container .tl-block .tl-bd .tl-unit-1 .tl-unit-arrow {
  right: -6px;
  top: 20px;
}
.tl-container .tl-block .tl-bd .tl-unit-1 .tl-unit-arrow i {
  left: -7px;
  border-left-color: white;
}
.tl-container .tl-block .tl-bd .tl-unit-1 .tl-unit-bullet {
  top: 20px;
  right: -19.5px;
}
.tl-container .tl-block .tl-bd .tl-unit-2 {
  float: right;
  width: 385px;
}
.tl-container .tl-block .tl-bd .tl-unit-2 .tl-unit-arrow,
.tl-container .tl-block .tl-bd .tl-unit-2 .tl-unit-arrow i {
  border-left: none;
  border-right: 6px solid #97a4c2;
}
.tl-container .tl-block .tl-bd .tl-unit-2 .tl-unit-arrow {
  left: -6px;
  top: 60px;
}
.tl-container .tl-block .tl-bd .tl-unit-2 .tl-unit-arrow i {
  left: 1px;
  border-right-color: white;
}
.tl-container .tl-block .tl-bd .tl-unit-2 .tl-unit-bullet {
  top: 60px;
  left: -19.5px;
}
.tl-container .tl-block .tl-ft.tl-loading {
  padding-bottom: 10px;
  height: 20px;
  background: transparent url(../img/loading.gif) no-repeat center center;
}
.tl-navigator {
  position: fixed;
  top: 6%;
  right: 20%;
  margin: 0;
  list-style: none;
}
.tl-navigator li {
  list-style: none;
  line-height: 1.28;
}
.tl-navigator li a {
  color: #94A0C1;
  text-decoration: none;
  border-left: 5px solid #C8D1E2;
  padding-left: 20px;
}
.tl-navigator li.selected a {
  color: #627AAD;
  font-weight: bold;
  border-left-color: #627AAD;
}
